# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts*
/link/.config/*
!/link/.config/powerline
!/link/.config/nvim
!/link/.config/exercism/exercism_completion.zsh
/link/.config/nvim/.netrwhist

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged
# Vim-plug manages himself.
/link/.vim/autoload/plug.vim*

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Mac OS
.DS_Store
